#Attractions {
    display:flex; 
    flex-wrap: wrap;
    justify-content: center;
}

#type {
    display:flex; 
    flex-wrap: wrap;
    justify-content: center;
}

.typeCSS {
    flex-grow: 1;
    width: 4rem;
    text-align: center;
    text-transform: capitalize;
}