#Attractions {
    display:flex; 
    flex-wrap: wrap;
    justify-content: center;
}

#areas {
    display:flex; 
    flex-wrap: wrap;
}

.welcome {
    text-align: center;
    font-size: 3em;
    background: linear-gradient(#a2d4eb, white);
    padding-bottom: 1em;
}

.info {
    text-align: center;
    padding-bottom: 3em;
}

.footer {
    padding-top: 8em;
    background: linear-gradient(white, #a2d4eb);
}